In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from subprocess import check_output
data = pd.read_csv('/content/drive/MyDrive/ML Datasets/Updated.csv')
data.head()

,STATE/UT,Year,CAUSE,Total Male,Total Female,Grand Total
0,A & N ISLANDS,2001,Bankruptcy or Sudden change in Economic,0,0,0.0
1,A & N ISLANDS,2001,Cancellation/Non-Settlement of Marriage,0,0,0.0
2,A & N ISLANDS,2001,Cancer,0,0,0.0
3,A & N ISLANDS,2001,Causes Not known,27,12,39.0
4,A & N ISLANDS,2001,Death of Dear Person,0,1,1.0

In [ ]:
data.shape

(11856, 6)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11856 entries, 0 to 11855
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE/UT      11856 non-null  object
 1   Year          11856 non-null  int64
 2   CAUSE         11856 non-null  object
 3   Total Male    11856 non-null  int64
 4   Total Female  11856 non-null  int64
 5   Grand Total   11855 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 555.9+ KB

In [ ]:
data.describe()

               Year    Total Male  Total Female   Grand Total
count  11856.000000  11856.000000  11856.000000  11855.000000
mean    2006.500000    233.612854    131.006073    364.649684
std        3.452198   1275.308002    720.317799   1979.321588
min     2001.000000      0.000000      0.000000      0.000000
25%     2003.750000      0.000000      0.000000      0.000000
50%     2006.500000      4.000000      3.000000      9.000000
75%     2009.250000     45.000000     27.000000     79.000000
max     2012.000000  20345.000000  12564.000000  32909.000000

In [ ]:
C1 = data[data['CAUSE']== 'Bankruptcy or Sudden change in Economic']

In [ ]:
C2 = data[data['CAUSE']== 'Cancellation/Non-Settlement of Marriage']

In [ ]:
C3 = data[data['CAUSE']== 'Cancer']

In [ ]:
C4 = data[data['CAUSE']== 'Causes Not known']

In [ ]:
C5 = data[data['CAUSE']== 'Death of Dear Person']

In [ ]:
C6 = data[data['CAUSE']== 'Divorce']

In [ ]:
C7 = data[data['CAUSE']== 'Dowry Dispute']

In [ ]:
C8 = data[data['CAUSE']== 'Drug Abuse/Addiction']

In [ ]:
C9 = data[data['CAUSE']== 'Failure in Examination']

In [ ]:
C10 = data[data['CAUSE']== 'Fall in Social Reputation']

In [ ]:
C11 = data[data['CAUSE']== 'Family Problems']

In [ ]:
C12 = data[data['CAUSE']== 'Ideological Causes/Hero Worshipping']

In [ ]:
C13 = data[data['CAUSE']== 'Illegitimate Pregnancy']

In [ ]:
C14 = data[data['CAUSE']== 'Illness (Aids/STD)']

In [ ]:
C15 = data[data['CAUSE']== 'Insanity/Mental Illness']

In [ ]:
C16 = data[data['CAUSE']== 'Love Affairs']

In [ ]:
C17 = data[data['CAUSE']== 'Not having Children(Barrenness/Impotency']

In [ ]:
C18 = data[data['CAUSE']== 'Other Causes (Please Specity)']

In [ ]:
C19 = data[data['CAUSE']== 'Other Prolonged Illness']

In [ ]:
C20 = data[data['CAUSE']== 'Paralysis']

In [ ]:
C21 = data[data['CAUSE']== 'Physical Abuse (Rape,Incest Etc.)']

In [ ]:
C22 = data[data['CAUSE']== 'Poverty']

In [ ]:
C23 = data[data['CAUSE']== 'Professional/Career Problem']

In [ ]:
C24 = data[data['CAUSE']== 'Property Dispute']

In [ ]:
C25 = data[data['CAUSE']== 'Suspected/Illicit Relation']

In [ ]:
C26 = data[data['CAUSE']== 'Unemployment']

In [ ]:
#find the shape of each cause in the dataset
data.shape,C1.shape, C2.shape, C3.shape

((11856, 6), (385, 6), (456, 6), (456, 6))

In [ ]:
C1.head()

,STATE/UT,Year,CAUSE,Total Male,Total Female,Grand Total
0,A & N ISLANDS,2001,Bankruptcy or Sudden change in Economic,0,0,0.0
52,A & N ISLANDS,2003,Bankruptcy or Sudden change in Economic,0,0,0.0
78,A & N ISLANDS,2004,Bankruptcy or Sudden change in Economic,1,0,1.0
104,A & N ISLANDS,2005,Bankruptcy or Sudden change in Economic,0,0,0.0
130,A & N ISLANDS,2006,Bankruptcy or Sudden change in Economic,0,0,0.0

In [ ]:
C1 = C1[['Total Male', 'Total Female', 'Grand Total']]
C1.head()

     Total Male  Total Female  Grand Total
0             0             0          0.0
52            0             0          0.0
78            1             0          1.0
104           0             0          0.0
130           0             0          0.0